
* {
    background-color:rgb(165, 192, 244);
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.title{
    text-align:center;
    background-color:orangered;
    width:200px;
    margin:auto;
    border: black 2px solid;
}

.recipe-name{
   text-align:center;
   background-color:goldenrod;
   width: 300px;
   margin:auto;
   border: black 2px solid;
}

h3{
    border: black 2px solid; 
    margin: auto;
    display:inline-block;
    background-color:orange;
}


