img {
    height: auto;
    width: 500px;
    margin:50px;
    border: black 2px solid;
}

* {
    background-color:rgb(165, 192, 244);
}

.title{
    text-align:center;
    background-color:orangered;
    width:200px;
    margin:auto;
    border: black 2px solid;
}

.recipe-name{
   text-align:center;
   background-color:goldenrod;
   width: 300px;
   margin:auto;
   border: black 2px solid;
}

h3{
    border: black 2px solid; 
    text-align:left;
    margin: auto;
    display:inline-block;
    background-color:orange;
}

